<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <servlet>
        <servlet-name>ZengYufang</servlet-name>
        <servlet-class>com.ZengYufang.week2.demo.HelloWorldServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>com.ZengYufang.week3.demo.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JDBCDemoServlet</servlet-name>
        <servlet-class>com.ZengYufang.week4.demo.JDBCDemoServlet</servlet-class>

        <!--init-param>
            <param-name>driver</param-name>
            <param-value>com.microsoft.sqlserver.jdbc.SQLServerDriver</param-value>
        </init-param>
        <init-param>
            <param-name>url</param-name>
            <param-value>jdbc:sqlserver://localhost;databaseName=userdb;</param-value>
        </init-param>
        <init-param>
            <param-name>username</param-name>
            <param-value>sa</param-value>
        </init-param>
        <init-param>
        <param-name>password</param-name>
        <param-value>123456</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup-->
    </servlet>
    <servlet>
        <servlet-name>ConfigDemoServlet</servlet-name>
        <servlet-class>com.ZengYufang.week4.demo.ConfigDemoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.ZengYufang.week5.demo.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JDBCServletContextListenerServlet</servlet-name>
        <servlet-class>com.ZengYufang.week6.demo.JDBCServletContextListenerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RedirectServlet</servlet-name>
        <servlet-class>com.ZengYufang.week6.demo.RedirectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>com.ZengYufang.week6.demo.SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>com.ZengYufang.controller.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.ZengYufang.controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUserServlet</servlet-name>
        <servlet-class>com.ZengYufang.controller.UpdateUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminHomeServlet</servlet-name>
        <servlet-class>com.ZengYufang.controller.AdminHomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProductServlet</servlet-name>
        <servlet-class>com.ZengYufang.controller.AddProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductListServlet</servlet-name>
        <servlet-class>com.ZengYufang.controller.ProductListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetImgServlet</servlet-name>
        <servlet-class>com.ZengYufang.controller.GetImgServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductDetailsServlet</servlet-name>
        <servlet-class>com.ZengYufang.controller.ProductDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShopServlet</servlet-name>
        <servlet-class>com.ZengYufang.controller.ShopServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CarServlet</servlet-name>
        <servlet-class>com.ZengYufang.controller.CarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserListServlet</servlet-name>
        <servlet-class>com.ZengYufang.controller.UserListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountDetailsServlet</servlet-name>
        <servlet-class>com.ZengYufang.controller.AccountDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderDetailsServlet</servlet-name>
        <servlet-class>com.ZengYufang.controller.OrderDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderServlet</servlet-name>
        <servlet-class>com.ZengYufang.controller.OrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartServlet</servlet-name>
        <servlet-class>com.ZengYufang.controller.CartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ZengYufang</servlet-name>
        <url-pattern>/hello</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JDBCDemoServlet</servlet-name>
        <url-pattern>/jdbc</url-pattern>
    </servlet-mapping>
    <!--<servlet>
       <servlet-name>ConfigDemoServlet</servlet-name>
       <servlet-class>com.ZengYufang.week4.ConfigDemoServlet</servlet-class>
       <init-param>
           <param-name>name</param-name>
           <param-value>ZengYufang</param-value>
       </init-param>
       <init-param>
           <param-name>studentId</param-name>
           <param-value>2019211001000803</param-value>
       </init-param>
   </servlet>
   <servlet-mapping>
       <servlet-name>ConfigDemoServlet</servlet-name>
       <url-pattern>/config</url-pattern>
   </servlet-mapping>-->
    <context-param>
        <param-name>driver</param-name>
        <param-value>com.microsoft.sqlserver.jdbc.SQLServerDriver</param-value>
    </context-param>
    <context-param>
        <param-name>url</param-name>
        <param-value>jdbc:sqlserver://localhost;databaseName=userdb;</param-value>
    </context-param>
    <context-param>
        <param-name>username</param-name>
        <param-value>sa</param-value>
    </context-param>
    <context-param>
        <param-name>password</param-name>
        <param-value>123456</param-value>
    </context-param>
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>

    <filter>
        <filter-name>ZyfFilter</filter-name>
        <filter-class>com.lab2.ZyfFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ZyfFilter</filter-name>
        <url-pattern>/lab2/welcome.jsp</url-pattern>
        <url-pattern>/lab2/validation.jsp</url-pattern>
    </filter-mapping>
</web-app>